:root {
  --mainColor: #bdc3c7;
  --secondaryColor: #e67e22;
  --toastColor: #30c024;
  --toastError: #c02424;
  --main-modal-color: rgba(247, 222, 30, 0.85);
  --second-modal-color: rgba(34, 34, 34, 0.85);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

header {
  color: white;
  background-color: var(--secondaryColor);
  text-align: center;
  border-bottom: solid 5px #d35400;
}
h1 {
  padding-top: 5px;
}

ul {
  display: flex;
  justify-content: space-around;
}

li {
  list-style-type: none;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 15px;
}
li:hover {
  background-color: #d35400;
}
a {
  text-decoration: none;
  padding: inherit;
  color: black;
}

main {
  min-height: 92vh;
  background-color: var(--mainColor);
  display: flex;
  flex-direction: column;
  align-items: center;
}
main p {
  margin-top: 2%;
}
footer {
  background-color: #1c2022;
  text-align: center;
  color: white;
}

.formButton {
  background-color: var(--secondaryColor);
  color: white;
  border: solid 0px;
  border-radius: 15px;
  margin-top: 15px;
  padding: 6px;
}
.formButton:hover {
  background-color: #d35400;
}
form {
  display: flex;
  flex-direction: column;
  border: solid 3px #1c2022;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 3%;
  background-color: #ecf0f1;
}
label {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.formTaskCont {
  font-size: 0.5rem;
}
.to-do-list {
  border: solid 3px #1c2022;
  border-radius: 20px;
  padding-bottom: 20px;
  width: 80%;
  margin-bottom: 2%;
}
.to-do-list h2 {
  margin-left: 5%;
  margin-bottom: 2%;
}

.to-do-list div {
  font-size: 10px;
}
.panel p {
  color: white;
}
.dateTaskCont {
  text-align: start;
}
.panel-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondaryColor);
}
.panel {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--second-modal-color);
  transition: transform 0.3s ease;
  transform: translate(0, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.panel.is-active {
  transform: translate(0, 0);
}

.signIn,
.signUp {
  width: 80%;
}
#signInButton,
#signUpButton {
  background-color: #d35400;
  border: solid 5px #e67e22;
}

#signInButton:hover,
#signUpButton:hover {
  background-color: #e67e22;
}
.nasaContainer,
.chuckContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nasaContainer h2 {
  margin: 10px 0px;
}

.nasaContainer b {
  color: #2b57b0;
}

.NASAPic {
  margin: 10px 0px;
  width: 50%;
}
.pictureExplanation {
  padding: 15px;
  text-align: justify;
}

.chuckJoke {
  padding: 10px 20px;
  text-align: justify;
}

button[name="chuck"] {
  margin: 20px;
  font-size: 40px;
  border: solid 3px #d35400;
  border-radius: 15px;
  background-color: #e67e22;
}

@media only screen and (min-width: 768px) {
  form {
    padding: 1.5rem;
  }
  .formTaskCont {
    font-size: 1rem;
  }
  .signIn,
  .signUp {
    width: 30%;
    margin: 0px 30px;
  }

  .to-do-list {
    width: 40%;
  }

  .to-do-list div {
    font-size: 15px;
  }
  .sign {
    width: 50vw;
    justify-content: space-between;
  }
  .hamburger {
    display: none;
  }
  .panel {
    background-color: var(--mainColor);
    position: relative;
    transform: none;
    width: 100%;
    flex-direction: row;
  }
  .sign {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .panel form {
    background-color: none;
  }
  .panel p {
    color: black;
  }
  .NASAPic {
    width: 20%;
  }
}

/* JAVASCRIPT DOM */

.taskDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 10px;
}

.hidden {
  display: none;
}
